body{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;

}

h2 {
    font-size: 54px;
}
.first-section,.second-section{
display: flex;
padding: 30px 75px;

}

.second-section {
background-image: url(assets/img/7.png) ;
background-repeat: no-repeat;
background-position: right;
}

.left-content{
width: 50%;
}

.left-content h2 {
    font-size: 54px;
    margin-top: 0px;
    line-height: 64px;
}

.left-content h4 {
    font-size: 50px;
    margin-bottom: 0px;
    
    
}

.click_order {
    background-image: linear-gradient(to right,orange, red);
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 30px;
    display: inline-block;
}

.right-content{
width: 50%;
}

.right-content img{
    width: 75%;
}

.second-section .left-content img{
    width: 60%;
}

.second-section h2 {
    font-size: 54px;
    margin-top: 0px;
    line-height: 64px;
    margin-bottom: 0;
}

.second-section .right-content {
    padding-top: 15%;
}

.second-section .left-content {
    margin-top: 3%;
}


.third-section {
    text-align: center;
    padding: 30px 75px;
}

.third-section h2{
    font-size: 54px;
    margin-bottom: 20px;
}

.item-lsit {
display: flex;
padding: 30px 0;
}

.item-lsit img{
    width: 100%;
 }

.first-item,.second-item,.third-item {
width: 30%;
margin-left: 3%;
box-shadow: 1px 2px 4px 2px #ccc;
padding: 15px;
border-radius: 15px;
}

.item-lsit h6 {
    font-size: 24px;
    margin-bottom: 0;
    text-align: left;
    margin-top: 25px;
}

.item-lsit p {
    text-align: left;
}

.milestone-section {
    margin: 75px 0px;
}

.social-stats {
    display: flex;
    width: 85%;
    box-shadow: 0px 0px 6px 2px #ccc;
    margin: auto;
    border-radius: 15px;
}

.social-stats h4 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;
    margin-top: 25px;
}

.youtube,.instagram,.dribble {
    width: 33.3%;
    padding: 20px 0px;
    text-align: center;
}


footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 30px 75px;
}

footer h4 {
    font-size: 40px;
    margin-bottom: 20px;

}